USE [master]
GO
/****** Object:  Database [LinkHubDb]    Script Date: 2020-10-08 3:51:53 PM ******/
CREATE DATABASE [LinkHubDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LinkHubDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\LinkHubDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LinkHubDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\LinkHubDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LinkHubDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LinkHubDb]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 2020-10-08 3:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[CategoryId] [int] IDENTITY(1000,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[CategoryDesc] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Url]    Script Date: 2020-10-08 3:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Url](
	[UrlId] [int] IDENTITY(1,1) NOT NULL,
	[UrlTitle] [varchar](50) NOT NULL,
	[Url] [varchar](50) NOT NULL,
	[UrlDesc] [varchar](max) NOT NULL,
	[CategoryId] [int] NULL,
	[UserId] [int] NULL,
	[IsApproved] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_Url] PRIMARY KEY CLUSTERED 
(
	[UrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 2020-10-08 3:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Category] ON 

INSERT [dbo].[tbl_Category] ([CategoryId], [CategoryName], [CategoryDesc]) VALUES (1000, N'Technology', N'')
INSERT [dbo].[tbl_Category] ([CategoryId], [CategoryName], [CategoryDesc]) VALUES (1001, N'Math and Science ', N'')
INSERT [dbo].[tbl_Category] ([CategoryId], [CategoryName], [CategoryDesc]) VALUES (1002, N'Crafts and Hobbies	', N'')
SET IDENTITY_INSERT [dbo].[tbl_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Url] ON 

INSERT [dbo].[tbl_Url] ([UrlId], [UrlTitle], [Url], [UrlDesc], [CategoryId], [UserId], [IsApproved]) VALUES (1, N'Proin', N'http://www.wooster.edu/', N'feugiat enim rhoncus Duis magnis dapibus id sagittis leo consectetuer', 1008, 3, N'P')
INSERT [dbo].[tbl_Url] ([UrlId], [UrlTitle], [Url], [UrlDesc], [CategoryId], [UserId], [IsApproved]) VALUES (2, N'varius', N'http://www.molloy.edu/', N'Lorem Phasellus nostra Suspendisse Fusce pretium Duis odio sagittis Mauris', 1004, 11, N'P')
INSERT [dbo].[tbl_Url] ([UrlId], [UrlTitle], [Url], [UrlDesc], [CategoryId], [UserId], [IsApproved]) VALUES (3, N'fermentum', N'http://www.mscfs.edu/', N'hendrerit velit sem commodo mattis vel nascetur egestas Lorem ac', 1003, 5, N'P')
GO
SET IDENTITY_INSERT [dbo].[tbl_Url] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([UserId], [UserEmail], [Password], [Role]) VALUES (1, N'peter@mymail.com', N'peter1@3', N'A')
INSERT [dbo].[tbl_User] ([UserId], [UserEmail], [Password], [Role]) VALUES (2, N'jack@mymail.com', N'jack1@3', N'U')
INSERT [dbo].[tbl_User] ([UserId], [UserEmail], [Password], [Role]) VALUES (3, N'Jescie@hymenaeos.org', N'Nam', N'U')
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
GO
ALTER TABLE [dbo].[tbl_Url] ADD  CONSTRAINT [DF_tbl_Url_IsApproved]  DEFAULT ('N') FOR [IsApproved]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_Role]  DEFAULT ('U') FOR [Role]
GO
ALTER TABLE [dbo].[tbl_Url]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Url_tbl_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tbl_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tbl_Url] CHECK CONSTRAINT [FK_tbl_Url_tbl_Category]
GO
ALTER TABLE [dbo].[tbl_Url]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Url_tbl_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Url] CHECK CONSTRAINT [FK_tbl_Url_tbl_User]
GO
USE [master]
GO
